<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your List</title>
</head>
<body>

    <!-- Logout button -->
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!-- Display name of user -->
    <h1>Welcome, {{ user.username }}!</h1>

    <h2>Change password:</h2>
    <form action='changepassword/' method="GET"> <!-- Change GET to POST -->
    <!-- Add in: "{% csrf_token %}" when changing from GET to POST -->
        <!-- Remove username field to prevent other users from altering other user's passwords (Flaw 3)-->
        <input type="hidden" name="user" value="{{user.username}}" />
        <input type="password" placeholder="New Password" name="password" />
        <input type="submit" value="Submit" />
    </form>
    <p>Your List</p>
    

    <!-- Add new item form -->
    <form method="POST" action="{% url 'add_item' %}">
        {% csrf_token %}
        <input type="text" name="item_text" placeholder="Enter item">
        <button type="submit">Add</button>
    </form>

    <!-- List of items -->
    <ul>
        {% for item in items %}
            <li>
                {{ item.item_text }}
                <a href="{% url 'delete_item' item.id %}">[Delete]</a>
            </li>
        {% empty %}
            <li>No items yet.</li>
        {% endfor %}
    </ul>

    <!-- <img src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Big_Floppa_1917.jpg/1280px-Big_Floppa_1917.jpg' width = "300" /> -->

</body>
</html>
