<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your List</title>
</head>
<body>
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    <h1>Your List</h1>
    <ul>
        {% for item in items %}
            <li>{{ item.item_text }}</li>
            <a href="{% url 'delete_item' item.id %}">[Delete]</a>
        {% empty %}
            <li>No items yet.</li>
        {% endfor %}
    </ul>

    <!-- Form for adding a new item -->
    <form method="POST" action="{% url 'add_item' %}">
        {% csrf_token %}
        <input type="text" name="item_text" placeholder="Add new item" required>
        <button type="submit">Add</button>
    </form>
    
</body>
</html>